@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

    body {
        font-family: "Plus Jakarta Sans", sans-serif;
    }
}

/* Scrollbar personalizzata 🦐 */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffd8cc;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffc2b3;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Colore scuro per il thumb */
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666666; /* Colore scuro al passaggio del mouse */
}

.custom-x-scrollbar::-webkit-scrollbar {
    height: 4px;
}
.custom-x-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-x-scrollbar::-webkit-scrollbar-thumb {
    background: #ffd8cc;
    border-radius: 10px;
}
.custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffc2b3;
}

.dark .custom-x-scrollbar::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Colore scuro per il thumb */
}
.dark .custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666666; /* Colore scuro al passaggio del mouse */
}
